{% extends 'base.html.twig' %}

{% block title %}Hello Hollo{% endblock %}

{% block body %}

    <!--=================================================-->
    <!--==========| H E A D E R |========================-->
    <!--=================================================-->

    <header class="header-title">
        <div class="title">
            <img class="logo" src="{{ asset('img/logo-hypnos.png') }}">
        </div>
    </header>

    <!--=================================================-->
    <!--==========| C A R O U S E L |====================-->
    <!--=================================================-->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/couple-hetero-carousel.jpg') }}" class="d-block w-100" alt="un couple dans un sauna">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/couple-lesbien-carousel.jpg') }}" class="d-block w-100" alt="un couple dans lit">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/couple-hetero2-carousel.jpg') }}" class="d-block w-100" alt="un couple dans une baignoire">
            </div>
        </div>
    </div>

    <!--=================================================-->
    <!--==========| P R E S E N T A T I O N |============-->
    <!--=================================================-->

    <section class="presentaion-section">

        <div class="container-fluid presentation-container">
            <div class="row presentation-row">
                <div class="col-md-6 presentation-main">
                    <h2 class="presentation-title">Votre havre, votre moment, vous, tout simplement</h2>
                </div>
                <div class="col-md-6 presentation-texts">
                    <p class="presenation-text">Notre promesse dans tout les hotel Hypnos est de vous offrir
                        un instant, un moment, en dehors du temps ou vous pourrez oublié jusqu'au plus petit de vos
                    soucis. <br>
                        Les plus belles chambres, les plus beau hotel, les plus beau lieux, pour vous retrouvez avec
                    qui vous voulez, on est loin du mac do, mais venez comme vous êtes, on se charge du reste<p>
                </div>
            </div>
        </div>

    </section>

    <!--=================================================-->
    <!--==========| S E P A R A T O R |==================-->
    <!--=================================================-->

    <section class="section-separator-home">

        <div class="separator-home">
            <p class="separator-home-text">NOS HOTELS</p>
        </div>
    </section>

{% endblock %}

{% block contact %}{% endblock %}
