{% extends 'base.html.twig' %}

{% block title %}Hello Hollo{% endblock %}

{% block body %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
<h1>Salut les moules</h1>
    <button type="button" class="btn btn-danger">Danger</button>
    <img class="image-test" loading="lazy" src="{{ asset('img/grange-1.jpeg') }}">
{% endblock %}
