{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}

    <!--=================================================-->
    <!--==========| H E A D E R |========================-->
    <!--=================================================-->

    <header class="header-register">
        <div class="container-fluid header-register-container">
            <div class="row register-row">
                <div class="col-md-6 register-main">
                    <h2> Inscrivez vous </h2>
                </div>
                <div class="col-md-6 register-texts">
                    <p> Simplifiez vos reservations</p>
                </div>
            </div>
        </div>
    </header>

    <!--=================================================-->
    <!--==========| F O R M U L A I R E |================-->
    <!--=================================================-->

    <div class="formulaire">
    {{ form(form) }}
    </div>

{% endblock %}
