/*==============================================================================*/
/*==============================================================================*/
/*===========================  C S S  F I L E  =================================*/
/*==============================================================================*/
/*==============================================================================*/

/*==============================================================================*/
/*===========================  G L O B A L  ====================================*/
/*==============================================================================*/

:root {
    --blk       : #0D0D0D;
    --light-blk : #1D1D1D;
    --pnk       : #F848FF;
    --wte       : #E8E8E8
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--blk);
    color: var(--wte);
}

a {
    text-decoration: none;
}



/*==============================================================================*/
/*==============================================================================*/

