/*==============================================================================*/
/*==============================================================================*/
/*===========================  C S S  F I L E  =================================*/
/*==============================================================================*/
/*==============================================================================*/

/*==============================================================================*/
/*===========================  G L O B A L  ====================================*/
/*==============================================================================*/

:root {
    --blk       : #0D0D0D;
    --light-blk : #1D1D1D;
    --pnk       : #F848FF;
    --wte       : #E8E8E8
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--blk);
    color: var(--wte);
}

a {
    text-decoration: none;
}


footer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 1px var(--wte) solid;
    background-color: var(--light-blk);
    color: var(--wte);
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    font-size: 0.9em;
}

.footer-social .footer-social-logo {
    height: 35px;
    margin: 20px;
    opacity: 0.85; /* pour s'approcher de la couleur --light */
    cursor: pointer;
}

.footer-title {
    font-size: 1.2em;
    letter-spacing: 8px;
    margin-bottom: 0;
    color: var(--pnk);
    border-top: 1px var(--wte) solid;
    padding-top: 15px;
}

.footer-tel {
    color: var(--pnk);
    letter-spacing: 4px;
    font-weight: bold;
}



/*==============================================================================*/
/*==============================================================================*/

