/*==============================================================================*/
/*==============================================================================*/
/*===========================  C S S  F I L E  =================================*/
/*==============================================================================*/
/*==============================================================================*/

/*===========================  S U M M A R Y  =================================*/
/*_____________________________________

_| 1 |_ GLOBAL & BASE
        1 - Global
        2 - Base Twig
            2.1 - Contact Div
            2.2 - Footer

_| 2 |_ HOME
        1 - Header Logo
        2 - Carousel
        3 - Presentation
        4 - Separator
        5 - Hotels

_| 3 |_ HOTEL & SUITE
        1 - Hotel
        2 - Suite


_| 4 |_ FORMULAIRES
        1 - Headers
        2 - Messages
        3 - Forms

_____________________________________*/
/*==============================================================================*/


/*========================================================================| 1 |=*/
/*===========================  G L O B A L  &  B A S E =========================*/
/*==============================================================================*/

    /*===============| GLOBAL |==========[1]=*/

:root {
    --blk       : #0D0D0D;
    --light-blk : #1D1D1D;
    --pnk       : #f848ff;
    --deep-pnk  : #ff1493ff;
    --wte       : #E8E8E8;
    --txt-shdw  : -1px -1px 1px rgba(0,0,0,.25), 1px 1px 1px rgba(0,0,0,.25),
    -3px -3px 4px rgba(0,0,0,.5), 3px 3px 4px rgba(0,0,0,.5);
}

* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background: var(--blk);
    color: var(--wte);
    font-family: 'Montserrat Alternates', sans-serif;

}

h1, h2 {
    color: var(--pnk);
    text-align: right;
}

label {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--pnk);
}

a:hover {
    color: var(--deep-pnk);
}

    /*===============| BASE.TWIG |==========[2]=*/

        /*_| CONTACT DIV |_*/

.contact {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    text-align: center;
}

.contact-text {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.button-contact {
    border: 1px var(--wte) solid;
    padding: 10px;
    color: var(--pnk);
    margin-bottom: 25px;
    cursor: pointer;
}

        /*_| FOOTER |_*/

footer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 1px var(--wte) solid;
    background-color: var(--light-blk);
    color: var(--wte);
    font-size: 0.9em;
}

footer p {
    font-size: 0.9em;
}

.footer-social .footer-social-logo {
    height: 35px;
    margin: 20px;
    opacity: 0.85; /* pour s'approcher de la couleur --light */
    cursor: pointer;
}

.footer-title {
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 0;
    color: var(--pnk);
    border-top: 1px var(--wte) solid;
    padding-top: 15px;
}

.footer-tel {
    color: var(--pnk);
    letter-spacing: 4px;
    font-weight: bold;
}

/*========================================================================| 2 |=*/
/*=========================== H O M E ==========================================*/
/*==============================================================================*/


    /*===============| HEADER LOGO |==========[1]=*/

.title {
    height: calc(100vh - 55px);
    position: relative;
}

.logo {
    position: absolute;
    width: 200px;
    top: calc(50% - 70px);
    left: calc(50% - 100px);
}

    /*===============| CAROUSEL |=============[2]=*/

.carousel {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

    /*===============| PRESENTATION |==========[3]=*/

.presentation-container {
    margin-top: 35px;
}

.presentation-title {
    margin-bottom: 25px;
    color: var(--pnk);
    text-transform: capitalize;
}

    /*===============| SEPARATOR |==========[4]=*/

.separator-home {
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px var(--wte) solid;
    text-align: center;

}

.separator-home-text {
    color: var(--pnk);
    text-transform: capitalize;
}

    /*===============| HOTELS |==========[5]=*/

.hotel-picture-div {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.hotel-description-div {
    padding: 10px;
    padding-bottom: 0;
}

.hotel-descriptionSmall-small {
    font-size: 1em;
}

.hotel-description-small {
    display: none;
}

.hotel-picture-small {
    width: 100%;
}

.hotel-name-small {
    text-align: left;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1em;
}

.hotel-location-small {
    font-size: 0.7em;
    text-transform: capitalize;
}

.hotel-button-plus {
    text-align: center;
    cursor: pointer;
}

.hotel-button-text {
    font-size: 0.7em;
    border: 1px var(--wte) solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

    /*|__/ M E D I A S \___|*/

@media (min-width: 576px) {
    .hotel-picture-div{
        width: 45%;
    }
    .hotel-descriptionSmall-small {
        font-size: 1em;
    }
    .hotel-button-plus {
        text-align: right;
        margin-right: 20px;
    }
    .test{
        height: 80%;
    }
}

@media (min-width: 576px) and (max-width: 700px){
    .hotel-descriptionSmall-small {
        font-size: 0.85em;
    }
}

@media (min-width: 1070px) {
    .hotel-description-small {
        display: block;
    }
}

/*========================================================================| 3 |=*/
/*=========================== H O T E L  &  S U I T E ==========================*/
/*==============================================================================*/

    /*===============| HOTEL |==========[1]=*/
.hotel {
    position: relative;
}

.hotel-picture {
    width: 100%;
}

.hotel-information {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.hotel-name {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-top: 25%;
    margin-bottom: -10px;
    font-size: 14vw;
    text-shadow: var(--txt-shdw);
    opacity: 0.9;
}

.hotel-location {
    color: var(--wte);
    text-align: center;
    text-shadow: var(--txt-shdw);
}

    /*|__/ M E D I A S \___|*/

@media (min-width: 1200px) {
    .hotel {
        height: calc(50vh - 55px);
        overflow: hidden;
    }

    .hotel-name {
        margin-top: 10vh;
    }

    .hotel-picture {
        margin-top: -25vh;
    }
}



    /*===============| SUITE |==========[2]=*/


/*========================================================================| 4 |=*/
/*=========================== F O R M U L A I R E S ============================*/
/*==============================================================================*/

    /*===============| HEADERS |==========[1]=*/

.header-register-container,
.header-login-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

    /*===============| MESSAGES |==========[2]=*/

.alert {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.alert-danger {
    background: none;
    border: 1px var(--pnk) solid;
    padding: 15px;
    color: var(--pnk);
}

.alert-info {
    background: none;
    border: 1px var(--pnk) solid;
    padding: 15px;
    color: var(--wte);
}

.formulaire li {
    font-size: 0.7em;
    background: #fc71ed;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin-top: 30px;
    width: 80%;
}

.formulaire ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

    /*===============| FORMS |==========[3]=*/

.formulaire {
    width: 80%;
    text-align: right;
    margin-left: 20px;
}

.form-items {
    background: none;
    border: none;
    color: var(--pnk);
    text-align: left;
    margin-top: 20px;
    border-top: 1px var(--wte) solid;
    border-bottom: 1px white solid;
    padding: 10px;
    width: 100%;
}

.form-button {
    background: none;
    border: 1px var(--wte) solid;
    color: var(--pnk);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

}

.form-items::placeholder {
    color: var(--pnk);
    opacity: 0.65;
}

.form-items:focus {
    background: var(--light-blk);
    outline: none;
}




/*==============================================================================*/
/*==============================================================================*/

